.counter {
    display:flex;
    flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.number {
    margin: 24px;
    font-size: 72px;
}

button {
    margin-top: 24px;
    width: 80px;
    height: 50px;
    font-size: 20px;
    border: 2px solid #6e2e30;
    border-radius: 20px;
    background-color: #f0bbbd;
}