.counter {
    display:flex;
    flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: #fae6e7;
}


.number {
    margin: 24px;
    font-size: 72px;
}

button {
    margin-top: 24px;
    width: 80px;
    height: 50px;
    font-size: 20px;
    border: 2px solid #6e2e30;
    border-radius: 20px;
    background-color: #f0bbbd;
     transition: all 0.2s ease; 
}

.clear {
    margin-bottom: 24px;
    background-color: #b08082;
}

button:hover {
    scale: 1.1;
     box-shadow: 0 4px 12px rgba(110, 46, 48, 0.3);
}

button:active {
    background-color: #dbb4b8;
}